{% extends 'base.html' %}
{% load cloudinary %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
<title>Edit Your Recipe</title>
{% endblock %}


<!-- Header Image -->

{% block content %}
    {% if user.is_authenticated %}
    <div class="container text-light">
        <div class="row">
            <div class="col mt-3 mb-5">
                <h1 class="text-center clack-text">Edit Your Recipe</h1>
                <form action="?action=save" method="post" style="margin-top: 1.3em;" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col">
                            {{ recipe_form | crispy | safe }}
                            {% csrf_token %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-signup btn-lg green-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col mt-3 mb-5 text-light text-center">
                <h1 class="white-text mb-5">I'm sorry, you're not logged in!</h1>
                <p>You will need to <a class="white-text" href="{% url 'account_login' %}">log in</a> or <a
                        class="white-text" href="{% url 'account_signup' %}">register</a> an account to edit this recipe.</p>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}